.ty-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.2rem 1.5rem;
}

.ty-page p {
    text-align: center;
}

span {
    background-color: #fff7f70c;
    border-radius: 2rem;
    color: var(--orange);
    margin-top: 1.5rem;
    padding: .5rem 2rem;
}
